.btn-blue {
	background-color: #2B53BA;
	padding: 15px 20px;
	border-radius: 4px;
	color: white;
	font-weight: bold;
	font-family: roboto, sans sérif;
	opacity: 0.8;
	text-align: center;
}

#contact a {
	background-color: white;
	color: #2B53BA;
	font-weight: bold;
}

#contact a:hover {
	text-decoration: underline;
}